/*
only the extra css need for admin section
*/
/* 
    Created on : Jan 20, 2016, 1:30:24 PM
    Author     : agencydelta
*/

@wrapper_min_height :500px;
.vb_admin_wrapper{
    min-height: @wrapper_min_height;
}